@import url("https://fonts.googleapis.com/css?family=Gugi");
*{margin: 0px; padding: 0px;}
.mainpage {
    width: 100%; height: 100%; background-color: rgb(118, 201, 216); margin: auto; font-family: 'Gugi', cursive;
}
.h1{margin: 0; padding: 20px 0; text-align: center;}
.avtarStyle img{
    width: 200px; height: 200px;
}
.hand-cursor{
    cursor: pointer;
  }